{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class="jumbotron">
    <h1>FORECASTING DASHBOARD</h1>
    <p class="lead">DashBoard for different DU's and Prescriptions</p>
    <p><a href="https://app.powerbi.com/view?r=eyJrIjoiMmIxMzQyOTQtODU5OS00MTFlLWE1NTMtNmMwZWI4MDA2MGQ3IiwidCI6IjE4OWRlNzM3LWM5M2EtNGY1YS04YjY4LTZmNGNhOTk0MTkxMiIsImMiOjEwfQ%3D%3D" class="btn btn-primary btn-large">Click &raquo;</a></p>
</div>
<p>STILL IN DEVELOPMENT.</p>

{% endblock %}
